/* font.css */
@font-face {
    font-family: "iconfont"; /* Project id 4542980 */
    src: url('//at.alicdn.com/t/c/font_4542980_hsusk3p4lvs.woff2?t=1715451275730') format('woff2'),
         url('//at.alicdn.com/t/c/font_4542980_hsusk3p4lvs.woff?t=1715451275730') format('woff'),
         url('//at.alicdn.com/t/c/font_4542980_hsusk3p4lvs.ttf?t=1715451275730') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-github:before {
    content: "\e689";
  }
  
  .icon-bilibili:before {
    content: "\e849";
  }
  
  .icon-gitee:before {
    content: "\e600";
  } 
  /*
   此处省略项目中其他字体代码
  */
  